<div class="container">
  <!-- Page Content goes here -->
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="input_text" type="text" data-length="10" name="name">
          <label for="input_text">Input text</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" data-length="120" name="text"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
      <div class="input-field col s12">
        <input type="submit" id="submit" value="投稿">
        <label for="submit"></label>
      </div>
    </form>
  </div>
</div>
